* { padding: 0; margin: 0; }
body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 background-color:#eee;
}
body a:visited {
 color: #0000ff;
}
#content {
 width: 550px;
 margin: 5px auto;
 padding: 5px;
 border: 1px dashed #333;
 background-color: #fff;
}
#msg {
 margin: 5px auto;
 width: 550px;
 padding: 5px;
 border: 1px dashed #333;
 text-align: left;
 font-size: 20px;
 background-color: #fff;
}
#data {
 margin: 5px auto;
 width: 550px;
 padding: 5px;
 border: 1px dashed #333;
 text-align: center;
 font-size: 20px;
 background-color: #fff;
}
#chat {
 margin: 5px auto;
 width: 550px;
 height: 60px;
 padding: 5px;
 border: 1px dashed #333;
 text-align: left;
 font-size: 15px;
 background-color: #fff;
 overflow: auto;
}
#chatinput {
 margin: 5px auto;
 width: 550px;
 padding: 5px;
 border: 1px dashed #333;
 text-align: center;
 font-size: 20px;
 background-color: #fff;
}
#footer {
 margin: auto;
 width: 550px;
 padding: 5px;
 border: 1px dashed #333;
 text-align: center;
 background-color: #fff;
}
#footer a:visited {
 color: #0000ff;
}
#game {
  font: bold 30pt Arial Black,Arial,Sans-Serif;
  text-align: center;
}
td {
  height: 100;
  width: 100;
}
img {
   border: 1px solid #ffffff;
}
